:root{
    --primary-color: #DAF1FC;
    --background-color: #FFEA82;
    --secondary-color: #0290A6;
    --text-color: #F9A035;
    --padding: 5px;
    --margin: 10px;
}
body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

h1{
    color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: var(--padding);
}
h2 {
    color: var(--secondary-color);
    font-family: 'Merriweather', serif;
    padding: var(--padding);
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
}
header img{
    width: 100px;
}
nav a{
    margin: 0 1em;
    color: var(--text-color);
    text-decoration: none;
}

p{
    color: var(--primary-color);
    padding: var(--padding);
    font-family: 'Mona Sans', sans-serif;
}

section{
    padding: 2em;
    text-align: center;
}
section p{
    color: var(--text-color);
}
section img{
    width: 200px;
    height: auto;
}
footer{
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1 em 0;
}
footer img{
    width: 50px;
    height: auto;
}

/*Class Selectors*/

.hero{
    position: relative;
    text-align: center;
    color: var(--text-color);
}

.hero img {
    width: 100%;
    height: auto
}
.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 0.5 1em;
}
.hero article{
    position: absolute;   
    bottom: 25px;
    left: 15px;
    background-color:  rgba(2,144, 166, 0.5);
    color: var(--text-color);
    padding: var(--padding);
    border-radius: 10px; 
}
.hero article img{
    float: right;
    width: 200px;
    height: auto;
}