:root{
    --primary-color: #DAF1FC;
    --background-color: #FFEA82;
    --secondary-color: #0290A6;
    --text-color: #F9A035;
    --padding: 5px;
    --margin: 10px;
}
body {
    font-family: 'Funnel Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

main h1{
    color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: var(--padding);
    position: absolute;
    top: 20px;
    right: 500px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h2 {
    color: var(--primary-color);
    font-family: 'Merriweather', serif;
    padding: var(--padding);
}

header {
    background: #0290A6;
    color: var(--text-color);
    padding: 1em;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1000px;
}
header img{
    width: 100%;
    margin: 0 0.25rem 0 1rem;
    height: auto;
}
nav{
    text-align: right;
    display: flex;
    list-style: none;
}
nav li{
    flex: 1 1 100%;
}
nav a{
    display: block;
    margin: 20px 2em;
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
}
nav a:hover{
    color: #0290A6;
    font-weight: 700;
    text-decoration: underline;

}

p{
    color: var(--primary-color);
    padding: var(--padding);
    font-family: 'Mona Sans', sans-serif;
}

section{
    padding: 2em;
    margin-bottom: 2em;
    text-align: center;
    background-color: #0290A6;
}
section p{
    color: var(--text-color);
}
section img{
    width: 200px;
    height: 200px;
}
footer{
    background: #0290A6;
    color: var(--text-color);
    text-align: right;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 1rem;
}
footer img{
    width: 50px;
    height: auto;
}
footer a{
    width: auto;
}
div figcaption{
    color: var(--primary-color);
}
form{
    background:  var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

/*Class Selectors*/

.hero{
    position: relative;
    text-align: center;
    color: var(--text-color);
}

.hero img {
    width: 100%;
    height: auto
}
.hero h1{
    position: relative;
    left: 10px;
    top: -500px;
    width: 100%;
    text-align: center;
    padding: 5px;
    color:  #DAF1FC;
}
.hero article{
    position: absolute;   
    bottom: 100px;
    right: 5px;
    width: 100%;
    background-color:  rgba(2,144, 166, 0.5);
    color: var(--text-color);
    padding: var(--padding);
    border-radius: 10px; 
}
.hero article img{
    float: right;
    width: 200px;
    height: auto;
}
/*history section*/

.histroy-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--secondary-color);
}
.history-title{
    grid-column: 1/4;
}
.image-grid-history{
    margin: 20px;
}
/*Images selection*/
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.adventure-title
{
    grid-column: 1/7;
}
.image-grid{

    margin: 20px;
}
figure{
    text-align: center;
}
.contact{
    text-align: center;
}
.contact p{
    color: var(--text-color);
}
.map{
    float: right;
    margin-right: 200px;
    width: 400px;
    height: auto;
}






