* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}
:root{
    --img-width: 200px;
    --img-height: auto;
    --border: 1px solid rgb(73, 60, 43);
    --text-align: center;
    --background-color: #daae75;
    --color: rgb(73, 60, 43);
    --padding: 5px;
}
body{
    background-color: antiquewhite;
}
main {
    color: var(--color);
    display: block;
    padding: 20px;
    margin: 1rem;
    grid-column: 2/3;
}
main img {
    float: right;
    margin: 10px;
    border: 6px solid  #daae75;
    width: var(--img-width);
    height: var(--img-height);
}

nav {
    background-color: var(--background-color);
    text-align: left;
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: var(--color);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
}
h1 {
    margin: auto;
    color: var(--color);
    border-bottom: 1px solid rgb(73, 60, 43);
}
p {padding: 5px;}

aside{
    width: 100%;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2{
    position: absolute;
    top: 15px;
    left: 130px;
}
aside img {
    max-width: 100%;
    border: 6px solid var(--color);
    margin-bottom: 10px;
    height: var(--img-heigh)t;

}

ul{
    clear: both;
}
footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: var(--text-align);

}
/*Class Selectors*/

.box{
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--color);


}
.grid{
    display: grid;
    align-items: center;
}