* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --img-width: 200px;
    --img-height: auto;
    --border: 1px solid rgb(73, 60, 43);
    --text-align: center;
    --background-color: #daae75;
    --color: rgb(73, 60, 43);
    --padding: 5px;
}
body{
    background-color: antiquewhite;
}
main {
    max-width: 840px;
    color: var(--color);
    display: block;
}
nav {
    background-color: var(--background-color);
    text-align: left;
    padding: var(--padding);
}
nav a {
    color: var(--color);
    padding: var(--padding);
    display: block;
}
h1 {
    margin: auto;
    color: var(--color);
}
aside{
    width: 20rem;
    text-align: var(--text-align);
    position: relative;

}
aside img {
    width: var(--img-width);
    height: var(--img-heigh)t;

}
ul{
    clear: both;
}
main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border: 6px solid  #daae75;
    width: var(--img-width);
    height: var(--img-height);
}
p {padding: 0;}

footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: var(--text-align);

}
aside h2{
    position: absolute;
}

/*Class Selectors*/

.box{
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--color);


}